body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(196, 185, 185);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

img {
    width: 15%;
    height: 75px;
    margin: 10px auto;
    display: block;
    border-radius: 55px;
}

.contenedor {
    width: 100%;
    padding: 2px;
}

.formulario {
    background: white;
    margin-top: 5px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 25px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 5px;
    border: 1px solid #aaa;
}

.mostrar {
    background-color: white;
    border: none;
    font-size: 14px;
    position: relative;
    left: 450px;
    top: -35px;
    padding-top: 2px;
    color: #999;
    cursor: pointer;
}

.mostrar:hover {
    color: red;
}

.icono {
    width: 2%;
    ;
}

.inputPadding {
    padding-left: 40px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

select {
    width: 100%;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #aaa;
}

option {
    margin-top: 20px;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: black;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: red;
}

@media(min-width:600px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 25px;
        border-radius: 2%;
    }
}